@page
@model Portfolio.Pages._3DTreeModel
@{
  ViewData["Title"] = "3D Tree";
}

<div class="text-center">
  <h1 class="display-3">3D Tree <a href="/HTML" style="font-size: 30px;" class="badge badge-secondary">HTML</a></h1>
  <p class="h2">A 3D Model of a tree and a jumping character</p>
  <br>
  <img src="https://static.turbosquid.com/Preview/001226/851/7I/low-poly-tree-3D-model_D.jpg" alt="Tree">
  <br>
  <hr>
  <br>
  <p style="font-size: 25px;">This is a model of a tree made with a framework called <a href="https://aframe.io/" target="_blank">A-Frame</a>.</p>
  <br>
  <a href="https://aframe.io/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/92/A-Frame_logo.png" alt="A-Frame" style="width: 500px;"></a>
  <br>
  <br>
  <p style="font-size: 30px;">Here is my project:</p>
  <iframe frameborder="0" width="80%" height="400px" src="https://thcheetah777.github.io/aframe-tree/"></iframe>
</div>
