@page
@model Portfolio.Pages.AlienModel
@{
  ViewData["Title"] = "Alien";
}

<div class="text-center">
  <h1 class="display-3">Alien <a href="/HTML" style="font-size: 30px;" class="badge badge-secondary">HTML</a></h1>
  <p class="h2">A platformer game based on Adventure Island</p>
  <br>
  <img src="https://github.githubassets.com/images/modules/open_graph/github-mark.png" alt="Alien">
  <br>
  <hr>
  <br>
  <p style="font-size: 25px;">This is my best project. I made this game based on <i>Adventure Island</i>, which is a old <a href="https://en.wikipedia.org/wiki/Role-playing_video_game" target="_blank">RPG</a> Platformer game.</p>
  <br>
  <img src="https://lh3.googleusercontent.com/proxy/PVS9QrNBJuilvs6-Z0QGLCtc1OXJL5-7vjvHiKw2J1KzYq5NMlwjev0OHR0WW2xm7eizv4aBngFilZ6StbQKrcKeXSpyS8rPTZm70wT3nVe3Fm29tEYelL6zrU0tIzUHGCzS58es_RE" alt="Adventure Island" style="width: 500px;">
  <br>
  <br>
  <p style="font-size: 30px;">Here is my project:</p>
  <p style="font-size: 20px;">(Controls: Arrow keys to move, R to go back to checkpoint, and C and X to shoot)</p>
  <frameset rows="100%,*">
  <iframe frameborder="0" width="100%" height="650px" src="https://thcheetah777.github.io/alien" marginheight="0" marginwidth="0" scrolling="no" style="overflow: hidden;"></iframe>
</div>
