@page
@model Portfolio.Pages.CipherModel
@{
  ViewData["Title"] = "Caesar Cipher";
}

<div class="text-center">
  <h1 class="display-3">Caesar Cipher <a href="/CSharp" style="font-size: 30px;" class="badge badge-secondary">C#</a></h1>
  <p class="h2">A Caesar Cipher encoder and decoder</p>
  <br>
  <img src="https://pages.mtu.edu/~shene/NSF-4/Tutorial/VIG/FIG-Disk.jpg" alt="Cipher">
  <br>
  <hr>
  <br>
  <p style="font-size: 25px;">This project is a <a href="https://en.wikipedia.org/wiki/Caesar_cipher">Caesar Cipher</a> encoder and decoder. A caesar Cipher is a type of cipher that moves the index of a character and moves it a number of steps.</p>
  <br>
  <a href="https://en.wikipedia.org/wiki/Caesar_cipher" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Caesar_cipher_left_shift_of_3.svg/1200px-Caesar_cipher_left_shift_of_3.svg.png" alt="Caesar Cipher" style="width: 500px;"></a>
  <br>
  <br>
  <p style="font-size: 30px;">Here is my project:</p>
</div>
