@page "/CSharp"
@model Portfolio.Pages.Languages.CSharpModel
@{
  ViewData["Title"] = "C#";
}

<div class="text-center">
  <h1 class="display-3"><img style="width: 100px;" src="https://pluralsight.imgix.net/paths/path-icons/csharp-e7b8fcd4ce.png" alt="C#">C#</h1>
  <p class="h3">C# has many uses. It has been used from Walmart's website to Pokemon Go. Here are some projects I made with it: </p>
  <br>
  <hr>
  <br>
  <div class="projects" style="margin-top: 30px;">
    <partial name="ProjectCards/_CipherPartial"/>
  </div>
</div>
