@page
@model Portfolio.Pages.Languages.CSharpModel
@{
  ViewData["Title"] = "C#";
}

<div class="text-center">
  <h1 class="display-3"><img style="width: 100px;" src="https://pluralsight.imgix.net/paths/path-icons/csharp-e7b8fcd4ce.png" alt="C#">C#</h1>
  <p class="h3">C# has many uses. It has been used from Walmart's website to Pokemon Go. Here are some projects I made with it: </p>
  <br>
  <hr>
  <br>
  <div class="projects" style="margin-top: 30px; position: ">
    <div class="card" style="width: 350px; height: 350px;">
      <a href="../Projects/Cipher" style="color: black">
        <img class="card-img-top" style="padding: 30px; width: 200px;" src="https://pages.mtu.edu/~shene/NSF-4/Tutorial/VIG/FIG-Disk.jpg" alt="Caesar Cipher">
        <div class="card-body">
          <h5 class="card-title">Caesar Cipher</h5>
          <p class="card-text">A Caesar Cipher encoder and decoder</p>
        </div>
      </a>
    </div>
  </div>
</div>
