@page "/HTML"
@model Portfolio.Pages.HTMLModel
@{
  ViewData["Title"] = "HTML";
}

<div class="text-center">
  <h1 class="display-3"><img src="https://practity.com/en/wp-content/uploads/sites/2/2018/03/html-css-tutorials2.jpg" alt="HTML and CSS"> HTML and CSS</h1>
  <p class="h3">HTML is used for making websites and css styles them. <br>These are some projects I made with them: </p>
  <br>
  <hr>
  <br>
  <div class="projects" style="margin-top: 30px;">
    <partial name="ProjectCards/_AlienPartial"/>
    <partial name="ProjectCards/_3DTreePartial"/>
  </div>
</div>
