@page
@model IndexModel
@{
  ViewData["Title"] = "Home";
}

<div class="text-center">
  <h1 class="display-4">Welcome to <img class="shadow-lg" style="width: 100px;" src="https://i.pinimg.com/originals/b4/f0/0d/b4f00d78c2e25dca58614febae1de9f8.gif" alt="Cheetah">'s Portfolio!</h1>
  <br>
  <partial name="ProjectCards/_AlienPartial"/>
  <partial name="ProjectCards/_3DTreePartial"/>
  <partial name="ProjectCards/_CipherPartial"/>
</div>
