<div class="card shadow-lg" style="width: 350px; height: 350px;">
  <a href="Projects/Alien" style="color: black">
    <img class="card-img-top" style="padding: 30px;" src="https://github.githubassets.com/images/modules/open_graph/github-mark.png" alt="Alien">
    <div class="card-body">
      <h5 class="card-title">Alien</h5>
      <p class="card-text">A platformer game based on Adventure Island</p>
    </div>
  </a>
</div>
