<div class="card shadow-lg" style="width: 350px; height: 350px;">
  <a href="Projects/Cipher" style="color: black">
    <img class="card-img-top" style="padding: 30px; width: 200px;" src="https://pages.mtu.edu/~shene/NSF-4/Tutorial/VIG/FIG-Disk.jpg" alt="Caesar Cipher">
    <div class="card-body">
      <h5 class="card-title">Caesar Cipher</h5>
      <p class="card-text">A Caesar Cipher encoder and decoder</p>
    </div>
  </a>
</div>
